@{
    ViewData["Title"] = "Address";
}

<h1>Address Fetch</h1>
<div class="form-floating">
    <select class="form-select" id="citySelect">
    </select>
    <label for="citySelect">縣市</label>
</div>
<div class="form-floating">
    <select class="form-select" id="districtSelect">
    </select>
    <label for="citySelect">區鄉鎮</label>
</div>
<div class="form-floating">
    <select class="form-select" id="roadSelect">
    </select>
    <label for="citySelect">路</label>
</div>
<div id="divShow" class="alert alert-info"></div>

@section Scripts{
    <script>
        const citySelect = document.querySelector('#citySelect');
        const districtSelect = document.querySelector('#districtSelect');
        const roadSelect = document.querySelector('#roadSelect');
        const div = document.querySelector('#divShow');

        //async function loadData() {
        //    let response = await fetch('@Url.Action("City", "Api")');
        //    let datas = await response.json();
        //    const cities = datas.map(city => `<option value="${city}"> ${city} </option>`);
        //    citySelect.innerHTML = cities.join("");

        //    response = await fetch(`@Url.Action("District","Api")?city=${citySelect.value}`);
        //    datas = await response.json();
        //    const districts = datas.map(district => `<option value="${district}">${district}</option>`);
        //    districtSelect.innerHTML = districts.join("");

        //    response = await fetch(`@Url.Action("Road","Api")?siteId=${districtSelect.value}`);
        //    datas = await response.json();
        //    const roads = datas.map(road => `<option value="${road}">${road}</option>`);
        //    roadSelect.innerHTML = roads.join("");

        //    div.textContent = `${districtSelect.value}${roadSelect.value}`;
        //}
        //loadData();

        async function loadCity() {
            let response = await fetch('@Url.Action("City", "Api")');
            let datas = await response.json();
            const cities = datas.map(city => `<option value="${city}"> ${city} </option>`);
            citySelect.innerHTML = cities.join("");}

        async function loadDistrict(){
            let response = await fetch(`@Url.Action("District","Api")?city=${citySelect.value}`);
            let datas = await response.json();
            const districts = datas.map(district => `<option value="${district}">${district}</option>`);
            districtSelect.innerHTML = districts.join("");
        }


            loadCity();
            loadDistrict();

        citySelect.addEventListener('change', () => {
            loadDistrict();
        })

        districtSelect.addEventListener('change', () => {

        })

        roadSelect.addEventListener('change', () => {
            div.textContent = `${districtSelect.value}${roadSelect.value}`;
        })
    </script>

}
