
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form name="userInfo" action="~/Api/getDemo" method="post" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label for="userName" class="form-label">User Name:</label>
                <input type="text" class="form-control" id="userName" name="Name">
                <div id="nameValidation" class="alert alert-warning"></div>
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">User Email:</label>
                <input type="email" class="form-control" id="userEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="userAge" class="form-label">User Age:</label>
                <input type="number" class="form-control" id="userAge" name="Age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Photo:</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <div class="mb-3">
                <img id="imgShow" class="w-100"/>
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>    
        <div id="divShow" class="alert alert-info"></div>
    </div>
    <div class="col-3"></div>
</div>

@section Styles{
    <style>
        #nameValidation{
            display:none;
        }
    </style>
}

@section Scripts{
    <script>
        
        const name =document.querySelector('#userName');
        const age = document.querySelector('#userAge');
        const btn = document.querySelector('#btnSubmit');
        const div = document.querySelector('#divShow');
        const divMessage = document.querySelector('#nameValidation');

        const xhr = new XMLHttpRequest();

        // 檢查帳號是否存在
        // input事件 blur=>結束編輯 ; focus=>開始編輯
        name.addEventListener('blur', () => {
            xhr.open("POST", "@Url.Action("CheckAccount","Api")");
            xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
            xhr.send(`name=${name.value}`);

            xhr.addEventListener("load", function () {
                const data = xhr.responseText;
                if(data==""){
                    divMessage.innerHTML = null;
                    divMessage.style.display = "none";
                }
                else{
                    divMessage.innerHTML = data;
                    divMessage.style.display = "flex";
                }
            })
        })

        name.addEventListener('focus', () => {
            if (divMessage.innerHTML==null){
                divMessage.style.display = "none";
            }
        })

        btn.addEventListener('click', event => {
            event.preventDefault(); //防止預設行為的發生

            // 透過 Ajax POST 傳送資料到Server端
            //// 設定傳輸方法為POST
            //xhr.open("POST", "/Api/getDemo");
            //// 設定傳輸資料的content-type
            //xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
            //// 將傳送的資料放進send()
            //xhr.send(`name=${name.value}&age=${age.value}`);

            // 改寫為FormData傳輸
            //// 建立FormData物件
            //const formData = new FormData(document.userInfo) //form的name，或用document.querySelector('#id')
            ////xhr.open("POST", "/Api/getDemo");
            //xhr.open("POST", "@Url.Action("Register","Api")");
            //// 將傳送的資料放進send()
            //xhr.send(formData);

            //xhr.addEventListener("load", function () {
            //    const data = xhr.responseText;
            //    div.innerHTML = `<h3>${data}</h3>`;
            //})

            
            // 建立FormData物件
            const formData = new FormData(document.userInfo);
            //改用 fetch 傳送FormData到server端
            fetch('@Url.Action("Register", "Api")',{
                body: formData,
                method: "POST"
            }).then(response=>{
                if(response.ok){
                    alert("新增成功");
                    location.href="@Url.Action("Index","Members")";
                }
                else{
                    alert("發生錯誤");
                }
            })
        })

        //預覽上傳圖片
        const file = document.querySelector('#formFile');
        
        file.addEventListener('change', function(){
            const reader = new FileReader();
            if (this.files.length>0){
                reader.readAsDataURL(this.files[0]);
            }

            reader.onload = function (e) {
                document.querySelector('#imgShow').src = e.target.result;
            };
        })

    </script>
}